footer {
    background-color: gray;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

footer p {
    background-color: gray;
}


nav {
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  position: relative;
}
