footer {
    background-color: gray;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    text-align: left;
}

footer p {
    background-color: gray;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: black;
    background-color: #030303;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav {
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  position: relative;
}

nav li a:hover {
    background-color: black;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 0;
  width: 100%;
  background-color: gray;
}
